## CHALLENGE #1: List Comprehension

In [42]:
#traditional way with loop
numbers = [1,2,3,4,5]
sqaures = []
for num in numbers:
    sqaures.append(num ** 2)
print("using loops",sqaures)
print("")
#list comprehension
numbers = [1,2,3,4,5]
squares_com = [num ** 2 for num in numbers]
print(f"list comprehension{squares_com}")
print("*"*35)
# they are same ?
print("are they same? comprehension and traditional way")

print(f"yes exacly they are same:{sqaures == sqaures_com}")

using loops [1, 4, 9, 16, 25]

list comprehension[1, 4, 9, 16, 25]
***********************************
are they same? comprehension and traditional way
yes exacly they are same:True

## Chllange #2 Creating a list of even numbers from 1 to 50 using list comprehensive

In [25]:
evens = [num for num in range(1,51) if num % 2 == 0]
print(f"even numbers{evens}")
print(f"total even numbers:{len(evens)}")

even numbers[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
total even numbers:25

## Challange #3 A string list convert uppercase using comprehension

In [30]:
fruits = ["apple","Orange","banana","kiwi"]
uppercase_fruits=[fruit.upper() for fruit in fruits]
print(uppercase_fruits)

['APPLE', 'ORANGE', 'BANANA', 'KIWI']

## Challange #4 Filtering

In [33]:
numbers = [1,2,3,4,5,6,7,8,9,10]
num_greate_than_five = [num for num in numbers if num > 5]
print(num_greate_than_five)

[6, 7, 8, 9, 10]

## Challange #5 Dictonary comprehension

In [40]:
#squars_dict = {1: 2, 2: 4, 3: 9, 4: 16}

squares_dict = {num: num ** 2  for num in range(1,10)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [43]:
import os
print(os.name)

posix

In [47]:
def double(x):
    return x * 2

result = list(map(double,[2,3,4,5,6]))
print(result)

[4, 6, 8, 10, 12]

In [52]:
result = list(map(lambda x:x * 2,[2,3,4,5]))
print(result)

[4, 6, 8, 10]

In [6]:
def sq(x):
    return x * x
print(sq(5))

sq = lambda x: x*x
print(sq(5))

25
25